html,body { 
margin:0;
padding:0;
background:#fff;
}

h1 {
font-family:Optima, Verdana;
font-size:16px;
font-weight:normal;
padding:0;
margin:12px 0 0 0;
color:#872929;
}

h3 {
font-family:Optima, Verdana;
font-size:12px;
font-weight:normal;
color:#872929;
padding:0 0 5px 0;
margin:0;
}

h4 {
font-family:Verdana;
font-size:14px;
font-weight:normal;
color:#872929;
}


#shadow {
display:none;
}

a.header-link:hover {
color:#ff0000;
border-bottom:#ff0000 dashed 1px;
}

a.header-link {
font-family:Verdana;
font-size:12px;
font-weight:normal;
color:#036;
display:block;
float:left;
margin:15px 0 0 40px;
padding:0 0 1px 0;
outline:none;
border-bottom:#036 dashed 1px;
text-decoration:none;
}

div#header {
display:block;
float:left;
width:100%;
height:auto;
padding:0;
margin:5px 0 0 0;
}

div#nav {
display:block;
float:left;
width:100%;
height:auto;
padding:0;
margin:0;
}


div#content {
display:block;
float:left;
width:auto;
height:auto;
padding:0;
margin:0 0 0 0;
}

a.link-line:hover {
color:#ff0000;
border-bottom:#ff0000 dashed 1px;
}

a.link-line {
font-family:Verdana;
font-size:12px;
font-weight:normal;
color:#036;
padding:0 0 2px 0;
margin:0 0 2px 10px;
text-decoration:none;
border-bottom:#036 dashed 1px;
outline:none;
}


a#logo {
display:block;
float:left;
width:200px;
height:50px;
padding:0;
margin:0;
background:url(../../img/mauricReports/mauric_logo.png) no-repeat left top;  
text-decoration:none;
border:none;
outline:none;
}


div#footer {
display:block;
float:left;
width:1000px;
height:auto;  
padding:20px 0 10px 0;
margin:0;
}

div#copyright {
font-family:Verdana;
font-size:10px;
color:#666;
display:block;
float:right;
padding:0;
margin:0 5px 0 0;
}

div#copyright a{
font-family:Verdana;
font-size:10px;
color:#872929;
text-decoration:none;
outline:none;
border:none;
}


div#form-reports {
display:block;
float:left;
width:720px;
height:auto;
padding:20px 40px 20px 40px;
margin:30px 0 20px 100px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow:0 0 2px #ccc;
-webkit-box-shadow:0 0 2px #ccc;
box-shadow:0 0 2px #ccc;
}

div#form-header {
display:block;
float:left;
width:720px;
height:auto;
padding:0 0 5px 0;
border-bottom:#f7f7f7 solid 1px;
margin:0 0 15px 0;
}

div#form-caption {
font-family:Verdana;
font-size:20px;
color:#872929;
}

div#form-table {
display:block;
float:left;
width:720px;
clear:both;
}

.form-table-link:hover {
color:#ff0000;
border-bottom:#ff0000 dashed 1px;
}

.form-table-link {
display:block;
float:left;
font-family:Verdana;
font-size:16px;
color:#036;
margin:1px 0 2px 0;
border-bottom:#036 dashed 1px;
text-decoration:none;
}

div#share {
font-family:Verdana;
font-size:12px;
color:#666;
display:block;
float:left;
width:250px;
height:auto;
margin:0 0 0 360px;
}
